.noto-sans-normal {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

body {
    background-color: #000112;
    font-family: "Noto Sans", sans-serif;
    color: #ffffff;
    font-weight: 350;
    /* margin: 5em; */
}

section {
    padding: 10em 0em 10em 0em;
}

.container {
    width: 66.67%; 
    margin: 0 auto; 
    padding: 5em;
    padding-top: 15em;
    padding-bottom: 15em;
    text-align: left; 
    box-sizing: border-box; 
}

h-name {
    color: #c7c6ff;
    font-size: 3em;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
}

h1 {
    color: #c7c6ff;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
}

h2 {
    color: #c7c6ff;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
}

h3 {
    color: #c7c6ff;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
}

b {
    color: #c7c6ff;
    font-weight: 400;
}

small {
    color: #c7c6ff;
    font-size: 0.8em;
}

.italic {
    font-style: italic;
}


/* Ensure the link color inherits from the body */
a, a:visited, a:active {
    color: inherit; /* Inherit color from parent (body or section) */
}

/* Hover styles */
a:hover {
    color: #c7c6ff; /* Change color on hover */
}

/* Active link styles */
a:active {
    color: inherit; /* Keeps the color the same when the link is active */
}

.gallery-description {
    max-width: 75%;
}


/* Gallery item styling */
.gallery-item {
    width: 60%; /* Set width to 22% for 4 items per row, adjust as needed */
    box-sizing: border-box; /* Ensure padding and margin don't affect width */
    margin-bottom: 4em; /* Adds space between image galleries */
}

/* Styling for the images inside gallery items */
.gallery-item img {
    width: 100%; /* Ensure the images fill the container */
    height: auto;
    display: block;
    box-shadow: 0 1em 1em 0 rgba(255, 244, 221, 0.315);
}

/* Styling for the description text */
.gallery-description {
    max-width: 100%;
    margin: 0 auto 1em;
    font-size: 1em;
    text-align: left;
    color: #ffffff;
    font-family: "Noto Sans", sans-serif;
}

.footer-line {
    height: 1px; /* Thickness of the line */
    background-color: #c7c6ff; /* Line color */
    width: 100%; /* Full width */
    margin-top: 10px; /* Space above the line */
}