.noto-sans-normal {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

body {
    background-color: #000330;
    font-family: "Noto Sans", sans-serif;
    color: #ffffff;
    font-weight: 350;
    /* margin: 5em; */
}

section {
    padding: 10em 0em 10em 0em;
}

.container {
    width: 66.67%; 
    margin: 0 auto; 
    padding: 5em;
    padding-top: 15em;
    padding-bottom: 15em;
    text-align: left; 
    box-sizing: border-box; 
}

h-name {
    color: #c7c6ff;
    font-size: 3em;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
}

h1 {
    color: #c7c6ff;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
}

h2 {
    color: #c7c6ff;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
}

h3 {
    color: #c7c6ff;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
}

b {
    color: #c7c6ff;
    font-weight: 400;
}

small {
    color: #c7c6ff;
    font-size: 0.8em;
}

/* Link Settings */
a:visited {
    color: inherit;  /* Keeps the color the same as the default link color */
}


/* Hover styles*/
a:hover {
    color: #c7c6ff;
}

/* Active link styles*/
a:active {
    color: inherit; /* Keeps the color the same when the link is active */
}

.gallery-item {
    max-width: 100%;
    width: 100%;
    margin-bottom: 2em; /* Adds space between the gallery items */
}

.gallery-item img {
    width: 100%;
    max-width: 75%;
    height: auto;
    display: block;
    box-shadow: 0 1em 1em 0 rgba(255, 244, 221, 0.315);
    margin: 0 auto;
}

.footer-line {
    height: 1px; /* Thickness of the line */
    background-color: #c7c6ff; /* Line color */
    width: 100%; /* Full width */
    margin-top: 10px; /* Space above the line */
}